body {
	/* background-color: lightblue; */
	background-color: #e0e0e0;
	font-family: 'Courier New', Courier, monospace;
}

h1 {
	/* color: navy; */
	margin-left: 20px;
	text-align: center;
}

p {
	/* color: navy; */
	margin-left: 20px;
	text-align: center;
}
